/*.header{

    color: white;
    text-align: center;
    height: 200px;

}*/
.header{
    font-size: xx-large;
    background-color: white;
    background: rgba(236, 236, 236, 0.3);
    color: white;
    text-align: center;
    height: 200px;
    padding-top: 45.75px;
    padding-bottom: 45.75px;
    font-family: "Roboto Light","Times New Roman", serif;
}


